input[type="text"], 
input[type="button"], 
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}

body {
    font-weight: 700; /* Pode ser 800 ou 900, dependendo da espessura desejada */
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-image: url('images/fundo02.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    overflow: hidden;
}
#dwheel {
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100vh;
}
canvas {
    background: none !important;
    display: block;
    margin: 0 auto;
    touch-action: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}


#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0,0,0,0.5); */
    background: url('images/popupModal.png') no-repeat center center;
    background-size: cover;
    display: none;
    align-items: center;
    justify-content: center;
    border: 1px white;
    border-radius: 30px;
    box-sizing: border-box; /* Adicionar essa linha */
    overflow: hidden; /* Adicionar essa linha */
}

#modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; /* Melhora a distribuição do espaço */
    padding: 10px; /* Reduzido para economizar espaço */
    border-radius: 50px;
    text-align: center;
    color: #fff;
    width: 25%;
    max-width: 450px;
    height: auto; /* Deixa a altura se ajustar automaticamente */
    max-height: 80vh; /* Limita a altura máxima para evitar scroll externo */
}



#title-win, #title-msg, #msg, #modal-text {
    margin-top: 10px; /* Uniformiza as margens superiores para todos os textos */
    margin-bottom: 10px; /* Adiciona uma pequena margem inferior */
}

#modal-button {
    background-color: #000000;
    padding: 20px 35px;
    color: #FEFF0E; 
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 22px;
    margin-top: 6%;
}
.win-message {
    /* color: green;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px; */
    color: green;
    /* background-color: #000000; */
    font-size: 45px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 18px;
}

/* Confetti styles */
.confetti {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: red;
    z-index: 1000;
    animation: fall linear forwards;
}

/* Animation that causes the confetti to fall */
@keyframes fall {
    0% { top: -10%; left: calc(10% + 90% * var(--rand)); opacity: 1; transform: rotateZ(0deg); }
    100% { top: 110%; left: calc(5% + 90% * var(--rand)); opacity: 0; transform: rotateZ(360deg); }
}

/* Randomize the animation properties for each confetti */
.confetti:nth-child(odd) {
    background-color: #ff0;
    animation-duration: var(--speed);
    animation-delay: var(--delay);
}
.confetti:nth-child(even) {
    background-color: #0f0;
    animation-duration: var(--speed);
    animation-delay: var(--delay);
}


@media (max-width: 600px) {
    body {
        background-size: 100% 100%; /* Ajusta a imagem para preencher exatamente o espaço disponível */
        background-image: url('images/fundoMobile.jpg');
    }
    
    #overlay {
        width: 100%; /* Ocupa a largura total da tela */
        height: 80%; /* Reduz a altura para evitar sobrecarregar a tela */
        background: url('images/popupModal.png') no-repeat center center;
        background-size: cover; /* Certifica que a imagem de fundo cobre todo o espaço */
        margin: auto; /* Centraliza o overlay na tela */
        display: none; /* Mantém o layout flexível para centralizar o conteúdo */
        align-items: center;
        justify-content: center;
        border-radius: 20px; /* Aumenta o border-radius para um visual mais suave */
        overflow: hidden; /* Adicionado para garantir que o border-radius seja respeitado */
    }

    #modal-content {
        width: 100%;     /* Ajusta para usar a largura total do overlay */
        min-height: 50%; /* Aumenta a altura mínima para melhor acomodação */
        padding: 5px;   /* Menor padding para economizar espaço */
        box-sizing: border-box; /* Garante que o padding não afete as dimensões externas */
    }
      #modal-button {
        padding: 10px 20px; /* Reduzir o padding para economizar espaço */
        font-size: 16px;   /* Ajustar o tamanho da fonte para melhor legibilidade */
        margin-top: 10px;
    }

    .win-message {
        font-size: 10px; /* Tornar a mensagem de vitória menor para caber melhor */
    }

    #modal-text {
        margin-top: 1%;
        font-size: 10px; /* Tamanho menor do texto para melhor ajuste */
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    #modal-content {
        width: 50%; 
    }
    #modal button {
        font-size: 20px;
        padding: 18px 36px;
    }
    .sprite {
        width: 80%; 
    }
}

/* Estilos específicos para telas de notebook */
@media (min-width: 1025px) and (max-width: 1440px) {
    #modal-content {
        width: 40%; /* Aumentar um pouco para telas maiores, mas não tanto quanto em desktops grandes */
        height: auto; /* Altura automática para melhor acomodação do conteúdo */
        padding: 20px;
    }

    #modal-button {
        font-size: 20px; /* Ajustar o tamanho da fonte para ser ligeiramente maior */
        padding: 15px 30px;
    }

    .win-message {
        font-size: 30px; /* Tamanho da fonte ajustado para visibilidade em telas maiores */
    }

    #dwheel {
        height: 80vh; /* Ajustar a altura da roleta para uma proporção da tela mais apropriada */
    }

    /* Ajustar o tamanho do sprite do tigre para telas maiores */
    .tiger {
        transform: scale(0.7);
    }
}

